.SidebarWrapper {
    position: absolute;
    width: 206px;
    height: 659px;
    left: 81px;
    top: 199px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #646464;
}

.SidebarWrapper h1 {
    color: #484848;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.tags {
    width: 206px;
    height: 159px;
    list-style-type: none;
    -webkit-text-fill-color: #646464;
}

.tags :hover {
    -webkit-text-fill-color: #FF6000;
}

.color {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    -webkit-text-fill-color: #646464;
    padding: 0;
    margin: 0;
    height: auto;
    list-style-type: none;
}

.color :hover {
    -webkit-text-fill-color: #FF6000;
}

.order {
    margin-top: 24px;
    width: 224px;
    height: 133px;
    list-style-type: none;
    /* SidebarItems */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    -webkit-text-fill-color: #646464;
}

.order :hover {
    /* or 171% */
    -webkit-text-fill-color: #FF6000;
}

.brand {
    width: 127px;
    height: 165px;
    list-style-type: none;
}

.text {
    -webkit-text-fill-color: #646464;
}